services:
  dev:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    user: "user"
    volumes:
      - ./:/workspace:cached
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
      - __NV_PRIME_RENDER_OFFLOAD=1
      - __GLX_VENDOR_LIBRARY_NAME=nvidia
    runtime: nvidia
    network_mode: host
    stdin_open: true
    tty: true
    hostname: dev
    extra_hosts:
      - "dev:127.0.0.1"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia        # explicitly use NVIDIA runtime
              count: all
              capabilities: [gpu]
